/* @media (max-width:1024px) {
  .main{
    width:calc( var(--width ) - 50px);
    height: calc(var(--height) - 50px);
    background-color: black;
  }
} */

.main{
  width: var(--width);
  height: var(--height);
  background-color: rgb(107, 99, 99);
  margin: 50px auto ;
  border-radius:20px ;
}
.input{
  display: flex;
  justify-content: space-between;
}
input{
  margin: 40px 0 0 ;
  width: calc(var(--width) - 30px);
  background-color: inherit;
  color: white;
  font-size: 40px;
  border: none;
  text-align: right;
  pointer-events: none;
}
input:focus{
  outline: none;
}
hr{
  margin: 40px 0 0 0;
  border: 1px solid rgb(123 116 116);
}

.row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.row button {
  width: calc((var(--width) / 4) - 40px);
  height:calc((var(--width) / 4) - 40px);
  margin: 10px 20px 0 20px ;
  background-color: inherit;
  color: orange;
  border: none;
  font-size: 25px;

}
.row .number{
  color: white ;
}
.row .hide{
  visibility: hidden;
}
button:hover{
  transition-delay: 0.1s;
  background-color: rgb(129, 122, 122);
}
#equ{
  background-color: orange;
  color: white;
  border-radius: 50%;
}
:root{
  --width:350px;
  --height:450px
}